body {
    background-color: #222;
    color: #fff;
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    margin: 0;
    padding: 20px;
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer {
    margin: 0;
    padding: 10px;
    background-color: #444;
    color: #fff;
    text-align: center;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.question {
    background-color: #444;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.question:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px #fff;
}

.question h2 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    position: relative;
}

.hyperlink-button {
    background-color: purple;
    color: #fff;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.hyperlink-button:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transform: scale(0.95);
}

.hyperlink-button:active {
    transform: scale(0.9);
}

.icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.text {
    font-size: 16px;
    margin-left: 5px;
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

.hyperlinks {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}
